<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success alert-dismissible fade show mb-3" role="alert" *ngIf="msg">
            {{msg}}
        </div>
        <div class="list-group">
            <div role="button"
                (click)="clickedShipmentNumber = clickedShipmentNumber === shipment.shipmentNumber ? undefined : shipment.shipmentNumber"
                class="list-group-item flex-column align-items-start" *ngFor="let shipment of shipments">
                <ul class="overflow-hidden list-unstyled m-0">
                    <li><i>Shipment Number:</i> {{shipment.shipmentNumber}}</li>
                    <li><i>Airport:</i> {{shipment.airport}}</li>
                    <li><i>Flight Number:</i> {{shipment.flightNumber}}</li>
                    <li>
                        <i>Flight Date:</i> {{convertUtcToLocal(shipment.flightDate) | date: 'MMM d, y, h:mm:ss a'}}
                    </li>
                </ul>
                <div *ngIf="clickedShipmentNumber === shipment.shipmentNumber">
                    <hr>
                    <div *ngFor="let bag of shipment.bags; let first = first" class="ps-4">
                        <hr *ngIf="!first">
                        <ul class="overflow-hidden list-unstyled m-0">
                            <li><i>Bag Number:</i> {{bag.bagNumber}}</li>
                            <li><i>Type:</i> Bag With {{bag.bagType}}</li>
                            <li><i>Total Items:</i> {{bag.totalItems}}</li>
                            <li><i>Total Price:</i> {{bag.totalPrice | currency: 'EUR'}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <p *ngIf="!shipments.length">
                There are no shipments yet
            </p>
        </div>
    </div>
</div>